#options{
    background: var(--header-header-Gradiente, linear-gradient(90deg, #139EC8 0%, #01599A 100%));
    }
  
  
  .footer{
    background: var(--header-header-Gradiente, linear-gradient(90deg, #139EC8 0%, #01599A 100%));
    color:white;
    
    .links{
      ul {list-style-type: none;}
      li a{
        color: white;
        transition: color .2s;
        &:hover{
          text-decoration:none;
          color: aliceblue;
          }
      }
    }  
    .copyright p{border-top:1px solid;} 
  }
  
  .text-white{
    margin-top: -12px;
  }
  
  .btn{
    background: var(--header-header-Gradiente, linear-gradient(90deg, #139EC8 0%, #01599A 100%));
    border: none;
  }
  
  span, button{
    background-color: white;
    color: white;
    border: white;
  }